@using TCAP_2._0.Models.Class
@model Client
@{
    ViewBag.Title = "ClientConfirm";
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

<center>
    <div class="container">
        <div class="row"></div>
        <div class="z-depth-1 grey lighten-4" style="display: inline-block; padding: 35px; border: 1px solid #EEE;">
            <h5 class="black-text">Confirmación de Cuenta</h5>
            <p class="red-text"> @Html.ValidationMessageFor(model => model.DNI_Client)</p>
            <p class="red-text"> @Html.ValidationMessageFor(model => model.Mobile_Client)</p>
            <p class="red-text"> @Html.ValidationMessageFor(model => model.Telephone_Client)</p>
            @if (!(ViewBag.Error is null))
            {
                <p class="red-text">@ViewBag.Error</p>
            }
            @using (Html.BeginForm("ClientConfirm", "Account", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id_User)
                <div class='row'>
                    <div class="col s2">
                    </div>
                    <div class="col s8">
                        <div class='input-field col s12'>
                            @Html.LabelFor(model => model.DNI_Client)
                            @Html.EditorFor(model => model.DNI_Client)
                        </div>
                    </div>
                    <div class="col s2">
                    </div>
                </div>
                <div class='row'>
                    <div class="col s6">
                        <div class='input-field col s12'>
                            @Html.LabelFor(model => model.Mobile_Client)
                            @Html.EditorFor(model => model.Mobile_Client)
                        </div>
                    </div>
                    <div class="col s6">
                        <div class='input-field col s12'>
                            @Html.LabelFor(model => model.Telephone_Client)
                            @Html.EditorFor(model => model.Telephone_Client)
                        </div>
                    </div>
                </div>
                <br />
                <div class='row'>
                    <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect client black-text'
                            style="font-family: 'ZCOOL KuaiLe', cursive !important;">
                        Confirmar
                    </button>
                </div>
            }
        </div>
        <div class="row"></div>
    </div>
</center>




