@using TCAP_2._0.Models.Class
@model List<Party>
@{
    ViewBag.Title = "Partidas";
}
@Html.Partial("_LayoutHeader")

<main>
    <div class="row">
        <div class="col s12 m9 center-align">
            <h5>Partidas activas</h5>
        </div>
        <div class="col s12 m3">
            <h5>Partidas cerras</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m9">
            @foreach (Party item in Model)
            {
                if (item.Status_Party == 4)
                {
                    @Html.Partial("_LayoutActiveParty", item)
                }

            }
        </div>
        <div class="col s12 m3">
            @foreach (Party item in Model)
            {
                if (item.Status_Party == 3)
                {
                    @Html.Partial("_LayoutCloseParty", item)
                }
            }
        </div>
    </div>
    @foreach (Party item in Model)
    {
        @Html.Partial("_LayoutModalParty", item)
    }
</main>

@section Script
{
    <script>
        $(document).ready(function () {
            $('.modal').modal();
        });
    </script>

}

@Html.Partial("_LayoutFooter")

