
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li>
        @Html.ActionLink("Contenido Con Content", "ContenidoContent", "Contenidos")
    </li>
    <li>
        @Html.ActionLink("Contenido con JavaScript", "ContenidoJS", "Contenidos")
    </li>
    <li>
        @Html.ActionLink("Contenido con File", "ContenidoFile", "Contenidos")
    </li>
    <li>
        @Html.ActionLink("Contenido con JSON", "ContenidoJSON", "Contenidos")
    </li>
    <li>
        @Html.ActionLink("Contenido con File.Copy", "Image", "Contenidos")
    </li>
</ul>

