
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

<center>
    <div class="container">
        <div class="row"></div>
        <div class="z-depth-1 grey lighten-4" style="display: inline-block; padding: 35px; border: 1px solid #EEE;">
            @if (!(ViewBag.Error is null))
            {
                <p class="red-text">@ViewBag.Error</p>
            }
            <h5 class="black-text">@ViewBag.Title</h5>
            <form class="col s12" method="post">
                <div class='row'>
                    <div class="col s6">
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='name' id='name' value="@ViewBag.OldName" required />
                            <label for='name'>Nombre</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='surname' id='surname'value="@ViewBag.OldSurname" required />
                            <label for='surname'>Apellidos</label>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class="col s6">
                        <div class='input-field col s12'>
                            <input class='validate' type='email' name='email' id='email' value="@ViewBag.OldEmail" required />
                            <label for='email'>Email</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class='input-field col s12'>
                            <input class='validate' type='password' name='password' id='password' required />
                            <label for='password'>Contraseña</label>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class="col s6">
                        <div class='input-field col s12'>
                            <label>
                                @if (ViewBag.OldUser == "2")
                                {
                                    <input type='radio' name='user' value="2" checked required />
                                }
                                else
                                {
                                    <input type='radio' name='user' value="2" required />
                                }
                                <span>Jugador</span>
                            </label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class='input-field col s12'>
                            <label>
                                @if (ViewBag.OldUser == "1")
                                {
                                    <input type='radio' name='user' value="1" checked required />
                                }
                                else
                                {
                                    <input type='radio' name='user' value="1" required />
                                }
                                <span>Cliente</span>
                            </label>
                        </div>
                    </div>
                </div>
                <br />
                <div class='row'>
                    <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect amber black-text'
                            style="font-family: 'ZCOOL KuaiLe', cursive !important;">
                        Registrarse
                    </button>
                </div>
            </form>
            <a href="~/Account/Login" class="orange-text">¿Ya tienes una cuenta? Inicia sesión ahora.</a><br />
            <a href="~/Home/Index" class="green-text">Volver a Home</a>
        </div>
        <div class="row"></div>
    </div>
</center>

