<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/icons/cloud.png">

    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <link href="~/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/starter-template.css" rel="stylesheet" />
    </environment>
    <environment include="Production">
        <link href="~/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/starter-template.css" rel="stylesheet" />
    </environment>
    @RenderSection("css", false)
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a class="navbar-brand text-dark">
            <span style="font-size:35px;">Proyecto</span>
            <img src="~/images/logoAzure.png" style="height: 5vh;margin: -30px 0px 0px 0px;"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Joyerias", "Joyerias", "DocumentXML", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Clientes", "Clientes", "DocumentXML", null, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        @RenderBody()
    </main>
    <environment include="Development">
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/bootstrap.js"></script>
    </environment>
    <environment include="Production">
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/bootstrap.js"></script>
    </environment>
    @RenderSection("scripts", false)
</body>
</html>
