<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    @RenderSection("CSS", false)
</head>
<body style="font-family: 'ZCOOL KuaiLe', cursive !important;">
    @{Html.RenderAction("_Header", "Home");}
    @RenderBody()
    @Html.Partial("_Footer")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
        $('.dropdown-trigger').dropdown();
    </script>
    @RenderSection("Script", false)
</body>
</html>