@using TCAP_2._0.Models.Class
@model Party
<div id="info_@Model.Id_Party" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 m12">
                <p><b>@Model.Boargame_Party</b><span class="right-align">@Model.Start_Party</span></p>
                <p><b>@Model.Pub.Name_Pub</b></p>
                <p>@Model.Current_Participant_Party / @Model.Max_Participant_Party</p>
                <h4>Paticipantes</h4>
                <ul class="collection">
                    @foreach (Participant participant in Model.Participants)
                    {
                        <li class="collection-item avatar">
                            <img src="~/Media/Img/Avatars/@participant.Player.GeneralData.Image_User" class="circle" style="width:50px;height:50px;"/>
                            <span class="title">
                                @participant.Player.Nick_Player
                                @if (participant.Leader_Participant == 1)
                                {
                                    <i class="yellow-text fas fa-crown"></i>
                                }
                            </span>
                            <p><b>Nivel:</b>@participant.Player.Level_Player</p>
                            <p class="secondary-content">
                                @if (((Player)Session["User"]).Id_Player != participant.Id_Player)
                                {
                                    <i class="fas fa-thumbs-up"></i>
                                    <i class="fas fa-thumbs-down"></i>
                                }
                            </p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 center-align">
            @foreach (Participant participant in Model.Participants)
            {
                if (((Player)Session["User"]).Id_Player == participant.Id_Player && participant.Leader_Participant == 1
                    && Model.Status_Party == 2)
                {
                    <button class="user waves-effect btn col s6 m6">Cerrar Partida</button>
                    <button class="red waves-effect btn col s6 m6">Eliminar Partida</button>
                }
            }
        </div>
    </div>
</div>

