@using TCAP_2._0.Models.Class
<div class="menu">
    <ul>
        <li>
            <a href="@Url.Action("Options", "Player")">
                <div class="chip user">
                    <img src="~/Media/Img/Avatars/@(((Player)Session["Player"]).GeneralData.Image_User)">
                    @(((Player)Session["Player"]).Nick_Player) Lvl :  @(((Player)Session["Player"]).Level_Player)
                </div>
            </a>
        </li>
        <li>@Html.ActionLink("Partidas", "Parties", "Player")</li>
        <li>@Html.ActionLink("Crear Partida", "CreateParty", "Player")</li>
        <li>@Html.ActionLink("Buscar Partida", "SearchParty", "Player")</li>
        <li>@Html.ActionLink("Cerrar Sesion", "Logout", "Account")</li>

    </ul>
</div>

