@using TCAP_2._0.Models.Class
@model Pub
@{
    ViewBag.Title = "Crear Establecimiento";
}

@Html.Partial("_LayoutHeader")
<main>
    <div class="row">
        <div class="col s12 center-align">
            @using (Html.BeginForm("CreatePub", "Client", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <div class='row'>
                    <div class="col s12 m6">
                        <div class='input-field col s12 m12'>
                            @Html.LabelFor(model => model.Name_Pub)
                            @Html.EditorFor(model => model.Name_Pub)
                            <span class="helper-text red-text">@Html.ValidationMessageFor(z => z.Name_Pub)</span>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class='input-field col s12 m12'>
                            @Html.LabelFor(model => model.Phone_Pub)
                            @Html.EditorFor(model => model.Phone_Pub)
                            <span class="helper-text red-text">@Html.ValidationMessageFor(z => z.Phone_Pub)</span>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class='input-field col s12 m12'>
                            @Html.LabelFor(model => model.Address_Pub)
                            @Html.EditorFor(model => model.Address_Pub)
                            <span class="helper-text red-text">@Html.ValidationMessageFor(z => z.Address_Pub)</span>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class='input-field col s12 m12'>
                            @Html.LabelFor(model => model.CP_Pub)
                            @Html.EditorFor(model => model.CP_Pub)
                            <span class="helper-text red-text">@Html.ValidationMessageFor(z => z.CP_Pub)</span>
                        </div>
                    </div>
                </div>
                @*@if (!(ViewBag.Error is null))
                    {
                    <div class="row">
                        <span class="helper-text red-text">@ViewBag.Error</span>
                    </div>
                    }*@
                <div class='row'>
                    <div class="col m3 s1"></div>
                    <button type='submit' name='btn_login' class='col s10 m6 btn btn-large waves-effect client black-text'
                            style="font-family: 'ZCOOL KuaiLe', cursive !important;">
                        Crear
                    </button>
                    <div class="col m3 s1"></div>
                </div>
            }
        </div>
    </div>
</main>
@Html.Partial("_LayoutFooter")
