@using TCAP_2._0.Models.Class
@model Party
@{
    ViewBag.Title = "CreateParty";
}
<main>
    <div class="row">
        <div class="col s12 center-align">
            <h3>Crear Partida</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            @using (Html.BeginForm("CreateParty", "Player", FormMethod.Post))
            {
            <div class='row'>
                <div class="col m6 s12">
                    <div class='input-field col s12'>
                        @Html.EditorFor(model => model.Boargame_Party)
                        @Html.LabelFor(model => model.Boargame_Party)
                    </div>
                </div>

                <div class="col m6 s12">
                    <div class='input-field col s12'>
                        @Html.EditorFor(model => model.Max_Participant_Party)
                        @Html.LabelFor(model => model.Max_Participant_Party)
                    </div>
                </div>

                <div class="col m6 s12">
                    <div class="input-field col s12">
                        <input type="text" class="datepicker" name="datadate">
                        <label>Fecha del evento</label>
                    </div>
                </div>

                <div class="col m6 s12">
                    <div class='input-field col s12'>
                        <input type="text" class="timepicker" name="datatime">
                        <label>Hora del evento</label>
                    </div>
                </div>

                <div class="col m3 s1"></div>
                <div class="col m6 s10">
                    <div class="input-field col s12">
                        <select name="pub">
                            <option value="">Seleccione un Establecimiento</option>
                            @foreach (Pub item in ViewBag.Pubs)
                            {
                                <option value="@item.Id_Pub">@item.Name_Pub</option>
                            }
                        </select>
                        <label>Establecimiento</label>
                    </div>
                </div>
                <div class="col m3 s1"></div>

            </div>

                <div class='row'>

                    <div class="col m3 s1"></div>
                    <div class="col m6 s10">
                        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect user black-text'>Crear Partida</button>
                    </div>
                    <div class="col m3 s1"></div>

                </div>
            }
        </div>
    </div>
</main>

@section script{
    <script>
        $(document).ready(function () {
            $('select').formSelect();
            $('.datepicker').datepicker();
            $('.timepicker').timepicker();
        });
    </script>
}